/* SLIDER CONTAINER */
.slider-container {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  
  /* SLIDE IMAGE */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* ACTIVE SLIDE */
  .slide.active {
    opacity: 1;
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    .slider-container {
      height: 220px;
    }
  }
  